version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    restart: always
    ports:
      - '5433:5432'  # <--- MAPPING HOST PORT 5433 TO CONTAINER 5432
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: riskmodel
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data: